.cm-s-tomorrow-night-eighties .CodeMirror-cursor {
  border-left: 0.15em solid #888 !important;
}
.cm-s-tomorrow-night-eighties .CodeMirror-selectedtext,
.cm-s-tomorrow-night-eighties .CodeMirror-activeline .CodeMirror-linenumber {
  background: rgb(60,60,60);
}
.cm-s-tomorrow-night-eighties .CodeMirror-activeline-background {
  background: transparent !important;
}
.cm-s-tomorrow-night-eighties .CodeMirror-linenumber {
  color: #7c7c7c;
}
.cm-s-tomorrow-night-eighties .CodeMirror-gutters {
  background: transparent !important;
}
.cm-s-tomorrow-night-eighties.CodeMirror {
  background: rgb(25,25,25);
  display: flex;
  flex-direction: column;
}
.cm-s-tomorrow-night-eighties span.cm-searching {
  background: #fbc862;
  color: rgb(25,25,25);
}
.cm-s-tomorrow-night-eighties .CodeMirror-selectedtext.cm-searching {
  background: #ccc;
}
.cm-s-tomorrow-night-eighties span.cm-error {
  background: rgb(105,0,0);
  color: inherit;
}
.cm-s-tomorrow-night-eighties .CodeMirror-dialog.CodeMirror-dialog-top {
  background: black;
  color: #ccc;
  padding: 0.5em !important;
  border-color: #ffcc66;
  z-index: 10;
}
.cm-s-tomorrow-night-eighties .CodeMirror-dialog.CodeMirror-dialog-top * {
  font-family: inherit !important;
  font-size: inherit !important;
  padding: 0.2em 0.5em;
}
.cm-s-tomorrow-night-eighties .CodeMirror-dialog.CodeMirror-dialog-top button{
  color: black !important;
}
ul.codemirror-user-controll {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 73, 73);
    max-width: 100%;
    /* margin-bottom: 0.5em; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
    position: relative;
}
ul.codemirror-user-controll li {
    display: inline-block;
    margin: 0;
}
ul.codemirror-user-controll li button,
ul.codemirror-user-controll li a[href] {
    padding: 0.5em 0.8em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    color: #CCC;
    font-size: 1rem;
}
ul.codemirror-user-controll:after {
    content: "";
    display: table;
    clear: both;
}
ul.codemirror-user-controll li:nth-child(4) {
    flex-grow: 2;
}
ul.codemirror-user-controll li button:hover,
ul.codemirror-user-controll li a:hover {
    background-color: #616161;
}
